/* reset basic CSS styles */
* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  li {
    list-style: none;
  }

  .container {
    display: flex;
    margin: 0 50px;
    background-color: white;
    flex-flow: column wrap;
  }

  header {
    background-color: #1f2937;
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  header ul {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
  }

  header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
  }

  .logo {
    color: #f9faf8;
    font-size: 24px;
  }

  .hero {
    background-color: #1f2937;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 50px;
    gap: 100px;
    width: 100%;
  }

  .hero-text {
    flex: 1 1 300px;
    align-self: stretch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 20px;
  }

  .hero-text h2 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
  }

  .hero-text p {
    color: #e5e7eb;
    font-size: 18px;
  }

  .hero-text button {
    color: white;
    background-color: #3882f6;
    width: 150px;
    font-size: 18px;
    padding: 7px;
    border: #3882f6 2px;
    border-radius: 5px;
  }

  .hero img {
    width: 300px;
    flex: 1 1 300px;
  }

  .information h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: extra-bold;
    text-align: center;
    margin-top: 50px;
  }

  .info-blocks {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 50px;
    padding: 50px;
  }

  .block {
    flex: 0 1 170px;
    text-align: center;
  }

  .block img {
    width: 170px;
    border: #3882f6 solid 3px;
    border-radius: 10px;
    flex: 0 1 170px;
  }

  .block p {
    font-size: 18px;
    text-align: center;
  }